@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1c1917;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
